.cabecalho{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-size: 20px;
    color: #FFF;
    padding: 15px;
    background-color: #800020;
}
.cabecalho nav{
    color: #FFF;
    text-decoration: none;
    align-self: center;
}
.cabecalho ul{
    list-style-type: none;
    padding: 0px, 10px;
    display: flex;
}
.cabecalho li{
    color: #FFF;
    text-decoration: none;
    align-self: center;
    margin: 10px 5px;
    padding: 5px;
}

.cabecalho a{
    color: #FFF;
    text-decoration: none;
    align-self: center;
}
		body {
			background-color: #e5e5e5;
			font-family: 'Georgia', serif;
		}

		h1, h2 {
			color: #000000;
		}

		.vinhos {
			margin-bottom: 30px;
		}

		.vinhos h2 {
			text-align: center;
			margin-bottom: 20px;
		}

		.opcao {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 10px;
			background-color: #fff;
			padding: 10px;
			border-radius: 5px;
		}

		.opcao:hover {
			background-color: #f5f5f5;
		}

		.nome {
			flex-basis: 70%;
			font-size: 18px;
		}

		.preco {
			flex-basis: 30%;
			font-size: 18px;
			font-weight: bold;
			text-align: right;
		}
             
.rodape{
    position: sticky;
    padding: 20px 0px 20px 0px;
    font-size: 20px;
    background-color: #333333;
    color:#FFF;
    align-items: center;
}
.creditos {   
    font-style: italic;
    padding-bottom: 0px;
    text-align: center;
}
    

        

