.home{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container{
    margin: 20px;
    padding: 10px;
    background-color: blanchedalmond; 
}

.containerConteudo{
    display: flex;
    margin: 20px;
    padding: 10px;
}