.cabecalho{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-size: 20px;
    color: #FFF;
    padding: 15px;
    background-color: #800020;
}
.cabecalho nav{
    color: #FFF;
    text-decoration: none;
    align-self: center;
}
.cabecalho ul{
    padding: 0px, 10px;
    display: flex;
}
.cabecalho li{
    color: #FFF;
    text-decoration: none;
    align-self: center;
    margin: 10px 5px;
    padding: 5px;
}

.cabecalho a{
    color: #FFF;
    text-decoration: none;
    align-self: center;
}

.rodape{
    position: sticky;
    padding: 20px 0px 20px 0px;
    font-size: 20px;
    background-color: #4B0082;
    color:#FFF;
    align-items: center;
}
.creditos {   
    font-style: italic;
    padding-bottom: 0px;
    text-align: center;
}